@model UserViewModel

@{ ViewData["Title"] = "Gebruiker managment"; }



<h1>Overzicht</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Gebruiker
            </th>
            <th>
                Rollen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.User.UserName)
                </td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        <p>@Html.DisplayFor(modelItem => role)</p>
                    }
                </td>
                <td>
                    <p>@user.User.Id</p>
                    <a class ="btn-danger" asp-action="DeleteUser" asp-route-id="@user.User.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>




@section Scripts{
    <script type="text/javascript">


        //todo warning you sure?
        document.getElementById("myForm").submit();
    </script>
}