@model Movie

<div class="container">
    <div class="bg-primary m-1 p-1 text-white"><h4>Add a new Movie</h4></div>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <form asp-action="AddMovie" method="post">
        <div class="form-group">
            <input type="hidden" class="form-control" asp-for="Id" placeholder="" />
        </div>
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input class="form-control" asp-for="Title" placeholder="Movie title" />
        </div>
        <div class="form-group">
            <label asp-for="PosterUrl">Poster Url</label>
            <input class="form-control" asp-for="PosterUrl" placeholder="Full url of the movie Poster" />
            @*add poster fluid thing here based on this value*@
        </div>
        <div class="form-group">
            <label asp-for="Genre">Year</label>
            <input class="form-control" asp-for="Year" placeholder="Release year of the movie" />
        </div>
        <div class="form-group">
            <label asp-for="Duration">Duration</label>
            <input class="form-control" asp-for="Duration" placeholder="Duration of the movie in minutes" />
        </div>
        <div class="form-group">
            <label asp-for="Director">Director</label>
            <input class="form-control" asp-for="Director" placeholder="Duration of the movie in minutes" />
        </div>
        <div class="form-group">
            <label asp-for="Cast">Cast</label>
            <input class="form-control" asp-for="Cast" placeholder="Duration of the movie in minutes" />
        </div>
        <div class="form-group">
            <label asp-for="Country">Country</label>
            <input class="form-control" asp-for="Country" placeholder="Duration of the movie in minutes" />
        </div>
        <div class="form-group">
            <label asp-for="Language">Language</label>
            <input class="form-control" asp-for="Language" placeholder="Movie Language" />
        </div>
        <div class="form-group">
            <label asp-for="Technique">Technique</label>
            <input class="form-control" asp-for="Technique" placeholder="Viewing technique 2D/3D" />
        </div>
        <div class="form-group">
            <label asp-for="ViewIndication">View Indication</label><br />
            <select asp-for="ViewIndication" asp-items="@Html.GetEnumSelectList<ViewIndication>()"></select>
        </div>
        <div class="form-group">
            <label asp-for="Genre">Genre</label><br />
            <select asp-for="Genre" asp-items="@Html.GetEnumSelectList<Genre>()"></select>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea rows="4" class="form-control" asp-for="Description" placeholder="Movie description"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Update movie details</button>
    </form>
</div>