@model SeeSharpersCinema.Data.Models.Film.Review

@{
    ViewData["Title"] = "Film review plaatsen";
}

<h1>Plaats een review</h1>

<div class="form-group" id="rating-ability-wrapper">
    <label class="control-label" for="rating">
        <span class="field-label-header">How would you rate your ability to use the computer and access internet?*</span><br>
        <span class="field-label-info"></span>
        <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
    </label>
    <h2 class="bold rating-header" style="">
        <span class="selected-rating">0</span><small> / 5</small>
    </h2>
    <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>
    <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>
    <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>
    <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>
    <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>
</div>

<div class="row">
    <div class="col-lg-12">
        <form asp-action="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Plaats Review" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-controller="Dashboard" asp-action="Week">Back to the Dashboard</a>
</div>*@

@section Scripts {
    <script type="text\javascript" src="~/js/reviewrating.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
